/**
* @file
* Filename:     ite-ie8.css.
* Website:      http://www.ordasoft.com
* Description:  system styles
* Author:       ordasoft dev team ordasoft.com.
*/

form#user-pass input#edit-name,
form.contact-form .form-item input[type="text"],
form.contact-form .form-type-textarea .form-textarea-wrapper textarea {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
